# Init script when running the build pack.

echo "Running the build pack custom console. You are logged in as root."
echo "Do CTRL-ALT-DEL to shut down cleanly."
echo ""
login root
# does not return, bizarrely
